    html {
        scroll-behavior: smooth;
    }
    
    html,
    body {
        height: 1000px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        width: 100%;
        font-family: Roboto, Arial;
    }
    
    p {
        font-size: 1.2em;
    }
    
    header {
        position: fixed;
        background-color: rgba(149, 146, 146, 0.5);
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        padding: 0px;
        z-index: 100;
    }
    
    header button {
        margin-right: 30px;
        padding: 10px;
        border: 1px solid rgb(173, 164, 164);
        border-radius: 20px;
        background-color: rgba(149, 146, 146, 0.5);
        display: inline-block;
        box-shadow: 1px 1px 100px black;
        transition: opacity 0.2s;
        font-size: 1em;
    }
    
    header button:hover {
        opacity: 0.5;
        border: 1px solid black;
    }
    
    header button a {
        text-decoration: none;
        color: white;
    }
    
    .Container {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin-top: 0px;
    }
    
    .Container img {
        height: 50%;
        flex: 1;
        object-fit: cover;
    }
    
    .Page {
        height: 100%;
    }
    
    .info {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 100%;
        flex: 1;
    }
    
    .info div {
        margin: 5px;
        padding: 5px;
        border: 2px solid black;
        border-radius: 10px;
    }
    
    .Credentials {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #Name {
        color: white;
        font-size: 30px;
        font-weight: bold;
    }
    
    #Title {
        color: white;
        font-size: 20px;
        font-style: italic;
        font-weight: 300;
    }
    
    #Transparent {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: none;
        padding-top: 3%;
    }
    
    #Transparent section {
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    #Transparent section img {
        height: 200px;
        width: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
    
    #About {
        background-color: white;
    }
    
    #Skills {
        background-color: white;
    }
    
    li {
        position: relative;
    }
    
    li h2 {
        position: absolute;
        color: white;
        font-weight: bold;
        z-index: 2;
    }
    
    li img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
        border-radius: 20px;
    }
    
    #skills_list,
    #Projects_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    #skills_list li,
    #Projects_list li {
        list-style: none;
        padding: 10px;
        margin: 10px;
        border-radius: 20px;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;
    }
    
    #Portfolio {
        background-color: white;
    }
    
    #References {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border: none;
    }
    
    #Projects {
        background-color: white;
    }
    
    #Contact {
        color: white;
        background-color: rgba(245, 239, 239, 0.2);
    }
    
    h2 {
        background-color: rgba(193, 189, 189, 0.247);
        text-align: center;
    }
    
    #Experience div,
    #Education div {
        display: inline-block;
        border: none;
    }
    
    #Experience h4,
    #Education h4 {
        background-color: rgba(193, 189, 189, 0.247);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px;
    }
    
    #Experience p {
        margin: 0px;
    }
    
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    form input,
    form textarea {
        width: 50%;
        margin: 5px;
    }
    
    #submit {
        width: auto;
        font-weight: 900;
        border-radius: 30%;
        border: 1px solid white;
        transition: background-color 1s;
    }
    
    #submit:hover {
        background-color: rgba(149, 146, 146, 0.5);
    }
    
    #submit:active {
        background-color: rgb(0, 255, 34);
    }